<h1>BadKan FeedBack</h1>
{{#messages}}
    <hr>
    
    <p> תעודת זהות  : {{user_id}}</p>
    <p>{{git_url}}</p>
    <p>{{user_name}}</p>
{{/messages}}

<hr>
<input type="button" class="btn btn-primary" value="BadKan upLoad" onclick="location.href='{{editurl}}'">