
<h1>BadKan FeedBack</h1>
<h1>BadKan FeedBack</h1>

{{#messages}}
    <p>{{id_}}</p>
    <p>{{github_url}}</p>
    <p>{{name_}}</p>
{{/messages}}

<hr>
<input type="button" class="btn btn-primary" value="BadKan upLoad" onclick="location.href='{{editurl}}'">